/Self_programming.cbi
/Self_programming.cfg
/Self_programming.cof
/Self_programming.fct
/Self_programming_cof.aps
/Self_programming_main.cci
/Self_programming_main.c~
/pff_rn.cci
/pff_rn.c~
/self_programming_cof.aws
/Self_programming.prj
